<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>House</title>
  <link rel="shortcut icon" href="/Scripts/nmb.ico" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand py-2" href="#"><i class="fa-solid fa-house fa-xl" style="color: #fb5209;"></i>&nbsp;House
        Rent</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
          <li class="nav-item pe-4 ps-4 py-2">
            <a class="nav-link active" aria-current="page" href="/Templates/Home.html">Home</a>
          </li>
          <li class="nav-item pe-4 ps-4 py-2">
            <a class="nav-link" href="/Templates/blog.html">Blog</a>
          </li>
          <li class="nav-item pe-4 ps-4 py-2">
            <a class="nav-link" href="/Templates/Contact.html">Contact</a>
          </li>
          <li class="nav-item pe-4 ps-4 py-2">
            <a class="nav-link" href="/Templates/services.html">Booking</a>
          </li>
          <li class="nav-item pe-4 ps-4 py-2">
            <a class="nav-link" href="/Templates/house.html">House</a>
          </li>
          <li class="nav-item pe-4 ps-4 py-2">
            <a class="nav-link" href="/Templates/Blog pp.html">Pages</a>
          </li>
          <li class="nav-item pe-4 ps-4 py-2">
            <a class="nav-link" href="/Templates/gallery.html" />About</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <div style="text-align: center; background-color: green">
    <h1 style="padding-top: 20px;">House</h1>
    <p style="padding-bottom: 20px;"><b>More Details About Apartment</p>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col-9" style="text-align: left;">
        <img src=" /Scripts/h15.jpg" style="height: 650px;width: 900px;" align="left">
        <img src="/Scripts/h11.jpg" style="height: 100px;width: 150px;" align="left">
        <img src="/Scripts/h13.jpg" style="height: 100px;width: 150px;" align="left">
        <img src="/Scripts/h14.jpg" style="height: 100px;width: 150px;" align="left">
        <img src="/Scripts/h15.jpg" style="height: 100px;width: 150px;" align="left">
        <img src="/Scripts/H8.JPG" style="height: 100px;width: 150px;" align="left">
        <img src="/Scripts/H6.jpg" style="height: 100px;width: 150px;" align="left">
        <h1>Family Apartment</h1>
        <p>3000sqft, 3 bedroom, semi-furnished,luxurious,south facing Apartment foe rent in rangs malancha melbourne.
        </p>
        <h1>Price Details</h1>
        <p><b>Rent/Month:</b>$550(negotiable)</p>
        <p><b>Service Charge:</b>8,000/-TK per month,subject to change</p>
        <p><b>Security Deposit:</b>3 month's rent</p>
        <p><b>Flat Release Policy:</b>3 months earlier notice required</p>


        <h1>Property Details</h1>
        <p><b>adress&area:</b>rangs malancha,house-68,road-6a(dead end road),dhanmandi resedential area</p>
        <p><b>Flat Size:</b>3000 sqft </p>
        <p><b>Floor:</b>A5 (5TH FLOOR) (6 storied building) (south facing unit) </p>
        <p><b>Room Category:</b>3 large bedrroms with 3 verandas spacious drawing ,dining &family living room,highly
          decorated kitchen with store room and servant room with attached toilet </p>
        <p><b>Facilities:</b>1 modern lift,all modren amendities & semi furnished</p>
        <p><b>additional facilities:</b>a electricity with full generator load, central gas gesyar,car parking with
          driver accomodation community conference hall ,froof top brautified garden and grassay ground ,cloth hanging
          facility with cc camera</p>
        <br>
        <h1><b>APARTMENT OVERVIEW</b></h1>
        <div class="row g-2">
          <div class="col-md">
            <div class="form-floating">
              <input type="DEPOSIT/BAND" class="form-control" id="floatingInputGrid" placeholder="name@example.com">
              <label for="floatingInputGrid">DEPOSIT/BAND
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                $225000.00</label>
            </div>
          </div>

          <div class="col-md">
            <div class="form-floating">
              <input type="DEPOSIT/BAND" class="form-control" id="floatingInputGrid" placeholder="name@example.com">
              <label for="floatingInputGrid">COMPUTER
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                03</label>
            </div>
          </div>
        </div>
        <div class="row g-2">
          <div class="col-md">
            <div class="form-floating">
              <input type="DEPOSIT/BAND" class="form-control" id="floatingInputGrid" placeholder="name@example.com">
              <label for="floatingInputGrid">TOTAL AREA
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                300</label>
            </div>
          </div>

          <div class="col-md">
            <div class="form-floating">
              <input type="DEPOSIT/BAND" class="form-control" id="floatingInputGrid" placeholder="name@example.com">
              <label for="floatingInputGrid">TOTAL FLOOR
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                08</label>
            </div>
          </div>
        </div>
        <div class="row g-2">
          <div class="col-md">
            <div class="form-floating">
              <input type="DEPOSIT/BAND" class="form-control" id="floatingInputGrid" placeholder="name@example.com">
              <label for="floatingInputGrid">CAR PARKING SPACE
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                02</label>
            </div>
          </div>

          <div class="col-md">
            <div class="form-floating">
              <input type="DEPOSIT/BAND" class="form-control" id="floatingInputGrid" placeholder="name@example.com">
              <label for="floatingInputGrid">AIR CONDITION
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                yes</label>
            </div>
          </div>
        </div>
        <div class="row g-2">
          <div class="col-md">
            <div class="form-floating">
              <input type="DEPOSIT/BAND" class="form-control" id="floatingInputGrid" placeholder="name@example.com">
              <label for="floatingInputGrid">AIR CONDITION
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                yes</label>
            </div>
          </div>

          <div class="col-md">
            <div class="form-floating">
              <input type="DEPOSIT/BAND" class="form-control" id="floatingInputGrid" placeholder="name@example.com">
              <label for="floatingInputGrid">CAR PARKING SPACE
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                02</label>
            </div>
          </div>
        </div>
        <br><br>
        <div class="row g-2">
          <div class="col-md">
            <div class="form-floating">
              <input type="DEPOSIT/BAND" class="form-control" id="floatingInputGrid" placeholder="name@example.com">
              <label for="floatingInputGrid">INDOOR FEATURES:</label>
              <P>--Community hall</P>
              <P>--safety grill</P>
              <P>--servent rooms</P>
              <P>--servent toilets</P>
              <P>--FIREEXIT</P>
              <P>---CCTV</P>
              <P>WASA CONNECTION</P>
              <P>--DESCO Connection</P>
              <P>--TITAS GAS Connection</P>
              <P>--ALCONY</P>
              <P>--INTER COM</P>

            </div>
          </div>

          <div class="col-md">
            <div class="form-floating">
              <input type="DEPOSIT/BAND" class="form-control" id="floatingInputGrid" placeholder="name@example.com">
              <label for="floatingInputGrid">INDOOR FEATURES:</label>
              <P>--south facing</P>
              <P>--roof top garden</P>
              <P>--driver quarters</P>
              <P>--generators</P>
              <P>---LIFT</P>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
      </div>
      <div class="col-3">
        <div class="row" style="text-align: left;border: 10px solid green;box-sizing: border-box;">
          <h5><b>BOOK THIS APARTMENT</b></h5>
          <div class="col-12">
            <label for="text" align="left">Full Name</label>
            <input type="text" class="form-control" placeholder="Full name" aria-label="First name">
          </div><br><br><br>
          <div class="col-12" style="text-align: left">
            <label for="text">Phone Number</label>
            <input type="text" class="form-control" placeholder="+919632464232" aria-label="Last name">
          </div><br><br><br>
          <div class="row">
            <div class="col-12">
              <label for="text" align="left">Email Adress</label>
              <input type="text" class="form-control" placeholder="example@domain.com" aria-label="First name">
            </div><br><br><br>
            <div class="col-12" style="text-align: left">
              <label for="text">Family Member</label>
              <input type="text" class="form-control" placeholder="1" aria-label="Last name">
            </div><br><br><br>
            <div class="col-12" style="text-align: left">
              <label for="text">Children</label>
              <input type="text" class="form-control" placeholder="1" aria-label="Last name">
            </div><br><br><br>
            <div class="col-12" style="text-align: left">
              <label for="text">Your Message</label>
              <textarea class="form-control" placeholder="Message" id="floatingTextarea"
                style="height: 130px;"></textarea><br>
            </div>
            <div class="col-12" style="text-align: center;padding-bottom: 10px;">
              <button type="button" class="btn btn-success btn-sm">Request Booking<br></button>
            </div>
          </div>
        </div><br>
        <img src="/Scripts/H6.jpg" style="height: 300px;width: 300px;" align="right">
        <button type="button" class="btn btn-success btn-lg">ad unit,seek our offer→</button>

      </div>
    </div>
    <h1 style="text-align: center; color: green"><b>Related Apartments</b></h1>
    <div class="card-group">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card w-100 h-100">
            <img src="/Scripts/h15.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">ROOMS AND APARTMENTS</h5>
              <p class="card-text"><i class="fa-solid fa-location-dot"></i>DHANAMANDI,DHAKA</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fa-solid fa-bed"></i> &nbsp;3-BEDROOMS &nbsp;&nbsp;&nbsp;&nbsp;<i
                  class="fa-solid fa-bath"></i> &nbsp; 2-
                BATHROOM</li>
              <li class="list-group-item">
                $200&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
                  class="fa-solid fa-share-nodes"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-star"></i></li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="card w-100 h-100">
            <img src="/Scripts/h15.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">ROOMS AND APARTMENTS</h5>
              <p class="card-text"><i class="fa-solid fa-location-dot"></i>DHANAMANDI,DHAKA</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fa-solid fa-bed"></i> &nbsp; 3-BEDROOMS &nbsp;&nbsp;&nbsp;&nbsp;<i
                  class="fa-solid fa-bath"></i> &nbsp; 2-
                BATHROOM</li>
              <li class="list-group-item">
                $200&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
                  class="fa-solid fa-share-nodes"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-star"></i></li>
            </ul>
          </div>
        </div>
        <div class="col">
          <div class="card w-100 h-100">
            <img src="/Scripts/h15.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">ROOMS AND APARTMENTS</h5>
              <p class="card-text"><i class="fa-solid fa-location-dot"></i>DHANAMANDI,DHAKA</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fa-solid fa-bed"></i> &nbsp; 3-BEDROOMS &nbsp;&nbsp;&nbsp;&nbsp;<i
                  class="fa-solid fa-bath"></i> &nbsp; 2-
                BATHROOM</li>
              <li class="list-group-item">
                $200&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
                  class="fa-solid fa-share-nodes"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-star"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><br><br> <br>
        <div class="container pb-3">
          <footer class="row">
            <div class="col-4" align="left">
              <h3>About House Rent</h3>
              <hr class="divider">
              <h4><img src="/Scripts/house.jpeg" style="height: 70px;">&nbsp;&nbsp; <b>House
                  Rent</b>
              </h4>
              <h6 align="left">We Provide Premium Word Press, Ghost and <br>
                HTML template. Our Perm tritium Templates is,<br>
                develop gaped in a way so that the clients find<br>
                Support. Themes are developed in a way so<br>
                that the clients find.<br><br>
                <button type="button" class="btn btn-warning">More</button>
              </h6>
            </div>
            <div class="col-4" align="left">
              <h3> Place Category</h3>
              <hr class="divider">
              <!-- <h6 align="left"> -->
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">--Flat for
                    Rent Francis</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">--Flat for
                    Rent Collins</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">--Flat for
                    Rent Rose Ln</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">--Flat for
                    Rent Cosgrave</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">--Flat for
                    Rent Bourke S</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">--Flat for
                    Rent Fliender</a></li>
              </ul>
            </div>
            <div class="col-4">
              <h3 align="left">Instagram Images</h3>
              <hr class="divider">
              <img src="/Scripts/house.jpeg" style="height: 100px;">&nbsp;&nbsp;<img src="/Scripts/house.jpeg"
                style="height: 100px;">&nbsp;&nbsp;<img src="/Scripts/house.jpeg" style="height: 100px;"><br><img
                src="/Scripts/house.jpeg" style="height: 100px;">&nbsp;&nbsp;<img src="/Scripts/house.jpeg"
                style="height: 100px;">&nbsp;&nbsp;<img src="/Scripts/house.jpeg" style="height: 100px;">
            </div>

            <hr class="divider">
            <p style="text-align: center">Copyright <i class="fa-regular fa-copyright fa-sm"></i>&nbsp;HTMLguru</p>

          </footer>
        </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/b6f9c8e5f8.js" crossorigin="anonymous"></script>
</body>

</html>